/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background-color: #fff;
  /*background-image: url("/images/mario/mario_6.png");
  background-repeat: repeat;*/

}

.margin {
    margin-left:5%; 
    margin-right:5%
}


@font-face {
font-family: NexaLight;
src: url("fonts/NexaLight.otf") format("opentype");
}

@font-face {
font-family: NexaBold;
font-weight: bold;
src: url("fonts/NexaBold.otf") format("opentype");
}

p {
  font-family:NexaLight;
}

.lead {
  font-family:NexaLight;
}

.log-title {
  font-family: NexaBold;
}

.panel-title {
  font-family:NexaLight;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.hover > img {
  width: 200px;
  height: 100%;
}
  .entireimg
  {
    max-width: 100%;
    height: 220px;

  }

.abs > img
{
    position: absolute;
    left: 0px;
    top: 0px;
        height: 80px;
    width: auto;
}

.hey > img
{
    position: absolute;
    top: 0px;
    left: 80px;
    height: 80px;
    width: auto;
}

.half-rule {
width: 100px;
margin: 40px auto;
}

.no-rule {
width: 0px;
margin: 20px auto;
}

.map > img {
    max-width:100%;
}

.navbar{
  box-shadow: 0px 4px 10px;
}

.shadow img {
  /*box-shadow: 0px 4px 20px;*/
  max-width: 100%;
}

.ten {
  background-image: url("images/wgf.jpg");
  background-repeat: repeat;
    margin-top: 80px;
  margin-bottom: 80px;
}

.ten-inner {
    padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  margin-left:10%; 
  margin-right:10%

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav {
  font-size: 16px;

}

.navbar-header > a {
  font-size: 60px;
}

.navbar-nav > li:hover {
    background-color: #000;


    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  .navbar-nav > li > a {
    line-height: 28px;
    font-family:NexaLight;
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 768px;
  /*height: 500px;
  max-width:none;*/
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .col-md-3 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing .col-md-3 p {
  margin-right: 10px;
  margin-left: 10px;
}

.col-xs-4 img {
  max-width: 100%;
  margin-bottom: 20px;
}

.col-xs-6 img {
  max-width: 100%;
  margin-bottom: 20px;
}

.col-xs-3 > a > img {
    max-width:100%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-small-heading {
margin-bottom: 5px;
font-size: 30px;
font-weight: 400;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/* medium windows */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    /*border-radius: 4px;*/
    border: none;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


  p  {
    font-size: 17px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-small-heading {
    font-size: 30px;
  }

  .hover > img {
    height: 150px;
    width: auto;
  }

  .abs > img
  {
    height: 150px;
    width: auto;
  }

  .hey > img
  {
    left: 150px;
    height: 150px;
    width: auto;
  }

  .entireimg
  {
    max-width: 100%;
    height: 290px;

  }

  /* Carousel base class */
  .carousel {
    height: 400px;
    margin-bottom: 60px;
  }
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 400px;
    background-color: #777;
    overflow: hidden;
  }
}

/* largest windows */
@media (min-width: 992px) {
  /* Carousel base class */
  .carousel {
    height: 550px;
    margin-bottom: 60px;
  }
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 550px;
    background-color: #777;
  }
  .hover > img {
    height: 200px;
    width: auto;
  }

  .abs > img
  {
    height: 200px;
    width: auto;
  }

  .hey > img
  {
    left: 200px;
    height: 200px;
    width: auto;
  }

  .entireimg
  {
    max-width: 100%;
    height: 400px;

  }
}