#navdiv
{
  position: fixed;
  z-index: 99;
}


#navcontent
{
  float: left;
  background: #222;
  width: auto;
  height: 1000px;
}

#navtab
{
  float: left;
  margin-top: 20%;
  background: #222;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}

img.navimg
{
  max-width: 100%;
  max-height: auto;
}

img.zhu
{
  position: absolute;
  z-index: -99;
}

img.abs
{
  position: absolute;
}
img.fairyHey
{
  left: 200px;
}
