/* html always adds 8px */
body, .parallax, .container, html, #zelda-section, #mario-section, #league-section, div {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}

body, html {
	height: 5000px;
}


/*Some stuff*/
/*#league-foreground, #zelda-foreground, #mario-foreground {
	visibility : hidden;
}*/

#stuff {
	height: 5000px;
	width: 1080px;
}
#zelda-section {
	position: relative;
	top: 0px;	
	left: 0;
	height: 1125px;
	width: 100%;
}

#league-section {
	position: relative;
	top: 1500px;
	left: 0;
	height: 1125px;
	width: 100%;
}

#mario-section {
	position: relative;
	top: 3000px;
	left: 0;
	height: 1125px;
	width: 100%;
}

#mario-foreground {
	z-index: 10;
}

#mario-background-1 {
	z-index: 9;
}

#mario-background-2 {
	z-index: 8;
}

#mario-background-3 {
	z-index: 7;
}

#mario-background-4 {
	z-index: 6;
}

#background {
	float: right;
	z-index: 5;
	position: fixed;
}

.parallax {
	background-size: 100% auto;
	top: 0;
	right: 0;
}

/*body > div {
	height: 100px;
	width: 100px;
	border: 1px solid black;
}*/